body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;

}
.baboon{
    height: 150px;
    width: 113px;
    border-radius: 100px;
}
.macaws{
    height: 262px;
    width: 400px;
    border-radius: 12px;
}
.headercontent h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.headercontent p, .header a, .footer p{
    color: #E5E7EB;
    font-size: 18px;
    
}
.logolinks{
    display: flex;
    justify-content: space-between;
    padding: 18px 200px 10px 200px;
}
.headercontent{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    padding: 0px 200px 100px 200px;
    justify-content: space-between;
}
.headersignup{
    padding: 0;
}
.headerlinks{
    display: flex;
    gap: 18px;
    
}
.headerlinks a{
    text-decoration: none;
}
.header-button, .action-button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 24px;
    
    border-radius: 8px;

}
.header-button{
    border: none;
}
.info-animals img{
    height: 200px;
    width: 300px;
    border: 5px solid #3882F6;
    border-radius: 8px;
    
}
.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action{
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 75px;
    border-radius: 8px;
}
.action p{
    margin-top: 6px;
}
.action h3{
    margin-bottom: 6px;
}
.quote{
    display: flex;
    background-color: #E5E7EB;
    color: #1F2937;
    flex-direction: column;
    padding: 100px 250px;
}
.quote-text{
    font-size: 36px;
    font-style: italic;
    margin-bottom: 2px;
}
.steve{
    font-weight: bold;
    margin-left: auto;
    margin-top: 2px;
    font-size: 18px;
}
.information{
    display: flex;
    flex-direction: column;
    padding: 50px 250px 100px 250px;
    align-items: center;
    text-align: justify;
}
.info-animals{
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
}
.info-dog, .info-fox, .info-butterfly, .info-lizard{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.info-butterfly p, .info-dog p, .info-fox p, .info-lizard p{
    width: 300px;
    color: #1F2937;
}
.info-title{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}
